<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>insurance-consulting</title>
</head>

<body>
  <div id="app">

    <!-- HEADER -->
    <header>

      <!-- Top Navbar -->
      <section id="top-nav">
        <div class="container flex">
          <div class="flex">
            <a href="index.html"><i class="fas fa-clock"></i><span>Open Hours: {{datiAzienda.orarioApertura}}</span></a>
          </div>
          <div class="flex">
            <a href="index.html"><i class="fas fa-phone"></i><span>{{datiAzienda.numeroTelefono}}</span></a>
            <a href="index.html"><i class="fas fa-envelope"></i><span>{{datiAzienda.email}}</span></a>
            <a href="index.html"><i class="fab fa-facebook-f"></i></a>
            <a href="index.html"><i class="fab fa-twitter"></i></a>
            <a href="index.html"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </section>

      <!-- Jumbotron -->
      <section id="jumbo">

        <!-- Bottom NavBar -->
        <nav class="container flex">
          <div class="logo"><span class="underlined elfgreen">{{datiAzienda.logoSx.toUpperCase()}}</span> {{datiAzienda.logoDx.toUpperCase()}}</div>
          <div class="flex">
            <a v-for="element in bottomNav" :href="element.link">{{element.nome}}</a>
            <a href="#jumbo" class="green-btn">GET IN TOUCH</a>
          </div>
        </nav>

        <!-- Jumbotron form -->
        <div class="flex">
          <div>
            <h4>{{datiAzienda.attivita.toUpperCase()}}</h4>
            <h1>{{datiAzienda.areaAttivita}}</h1>
            <div id="jumbo-form">
              <div class="flex">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
              </div>
              <div class="flex">
                <input type="text" placeholder="Phone">
                <select  placeholder="we">
                  <option value="" selected disabled>More Info</option>
                  <option value="private">Private</option>
                  <option value="company">Company</option>
                </select>
              </div>
              <div class="flex">
                <div class="green-btn">GET IN TOUCH</div>
                <a href="index.html" class="transp-btn">READ MORE</a>
              </div>
            </div>
          </div>
        </div>


      </section>

    </header>

    <!-- MAIN -->
    <main>

      <!-- Company -->
      <section id="company">
        <div class="container flex">

          <!-- company left -->
          <div class="left">
            <h4>ABOUT THE NETWORK</h4>
            <h2><span class="underlined">The</span> Company</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>

          <!-- company right -->
          <div class="right flex">
            <div>
              <h3><i class="fas fa-award"></i> Tradition</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div>
              <h3><i class="fas fa-lock"></i> Security</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div>
              <h3><i class="far fa-edit"></i> Certificate</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div>
              <h3><i class="fas fa-graduation-cap"></i> Expertise</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Services -->
      <section id="services">
        <div class="container">

          <h4>OUR BUSINESS AREA</h4>
          <h2>Excellence in <span class="underlined">Services</span></h2>
          <div class="flex p-space">
            <p>We are leaders in providing consultancy services with a set of cutting-edge technologies and a team of wxperienced and renowned professionals. There are some option that tou can hire</p>
            <a href="index.html" class="green-btn">SEE ALL</a>
          </div>

          <div class="flex">
            <div class="box">
              <i class="fas fa-network-wired"></i>
              <h3>Audit & Assurance</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <i class="fas fa-arrow-right"></i>
            </div>
            <div class="box">
              <i class="fas fa-briefcase"></i>
              <h3>Financial Advisory</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <i class="fas fa-arrow-right"></i>
            </div>
            <div class="box">
              <i class="fas fa-chart-bar"></i>
              <h3>Analytics and M&A</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <i class="fas fa-arrow-right"></i>
            </div>
            <div class="box">
              <i class="fas fa-plane"></i>
              <h3>Middle Marketing</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <i class="fas fa-arrow-right"></i>
            </div>
            <div class="box">
              <i class="fas fa-globe"></i>
              <h3>Legal Consulting</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <i class="fas fa-arrow-right"></i>
            </div>
            <div class="box">
              <i class="fas fa-inbox"></i>
              <h3>Regulatory Risk</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <i class="fas fa-arrow-right"></i>
            </div>
          </div>

        </div>
      </section>

      <!-- Process -->
      <section id="process">
        <h4>HOW IT WORKS IN PRACTICE</h4>
        <h2><span class="underlined elfgreen">Process</span> Management</h2>
        <p>We work with innovative methodologies to ensure that the entire reformatting process is done from start to finish as planned</p>
        <div class="sequency">
          <div id="line"></div>
          <div>
            <div class="step">
              <div class="numeri elfgreen">01</div>
              <h3>Collection of information</h3>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="step">
              <div class="numeri elfgreen">02</div>
              <h3>Strategic planning</h3>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="step">
              <div class="numeri elfgreen">03</div>
              <h3>Assignment of responsibilities</h3>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="step">
              <div class="numeri elfgreen">04</div>
              <h3>Formatting process</h3>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="step">
              <div class="numeri elfgreen">05</div>
              <h3>Continuity formalization</h3>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Team -->
      <section id="team">
        <div class="container">
          <h4>WE LIKE WHAT WE DO</h4>
          <div class="flex">

            <!-- Team Sinistra -->
            <div class="left">
              <h2><span class="underlined">Team</span> of Experts</h2>
              <p>Ethics and integrity are the bases on which our professuibaks build their careers.</p>
              <p>They are founfamentals that become daily attitudes.</p>
              <div class="flex">
                <div v-for="element in membriStaff" class="team-id flex">
                  <img :src="element.img" alt="element.nome">
                  <div>
                    <h3>{{element.nome}}</h3>
                    <p>{{element.ruolo}}</p>
                    <div class="flex">
                      <a :href="element.linkFb"><span class="elfgreen flex"><i class="fab fa-facebook-f"></i></span></a>
                      <a :href="element.linkTw"><span class="elfgreen flex"><i class="fab fa-twitter"></i></span></a>
                      <a :href="element.linkIn"><span class="elfgreen flex"><i class="fab fa-linkedin-in"></i></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Team Destra -->
            <div class="right">
              <i class="fas fa-quote-right"></i>
              <h3>President Speech</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              <p>Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <p>T. Johnson</p>
            </div>

          </div>

        </div>
      </section>

      <!-- News -->
      <section id="news">
        <div class="container">
          <h4>OUR EDITORIAL CONTENT</h4>
          <h2>Latest <span class="underlined">News</span></h2>
          <div class="flex p-space">
            <p>We are leaders in providing consultancy services with a set of cutting-edge technologies and a team of wxperienced and renowned professionals. There are some option that tou can hire</p>
            <a href="index.html" class="green-btn">SEE ALL</a>
          </div>
          <div class="flex">
            <div class="box">
              <img src="img/news-1.jpg" alt="news">
              <div>
                <h3>Increasing creativity is possible for everyone</h3>
              </div>
            </div>
            <div class="box">
              <img src="img/news-2.jpg" alt="news">
              <div>
                <h3>Because market research is part of the pusiness plan</h3>
              </div>
            </div>
            <div class="box">
              <img src="img/news-3.jpg" alt="news">
              <div>
                <h3>Working from home is now a trend</h3>
              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- Know -->
      <section id="know">
        <div class="flex">
          <div>
            <h4>NEWSLETTER</h4>
            <h2><span class="underlined">Know</span> First</h2>
            <p>Follow closely and receive content about our company and the news of the current market.</p>
          </div>
          <div>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <div class="green-btn">SUBSCRIBE</div>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <footer>

      <!-- footer Info-Nav -->
      <section id="footer-links">
        <div class="container flex">

          <div class="info">
            <div class="logo"><span class="underlined elfgreen">{{datiAzienda.logoSx.toUpperCase()}}</span> {{datiAzienda.logoDx.toUpperCase()}}</div>
            <p>{{datiAzienda.descrizione}}</p>
            <div class="contacts">
              <a href="index.html"><i class="fas fa-phone"></i><span>{{datiAzienda.numeroTelefono}}</span></a>
              <a href="index.html"><i class="fas fa-envelope"></i><span>{{datiAzienda.email}}</span></a>
              <a href="index.html"><i class="fas fa-map-marker-alt"></i><span>{{datiAzienda.indirizzo}}</span></a>
            </div>
            <a href="index.html" class="transp-btn">GET IN TOUCH</a>
          </div>

          <div class="navig" v-for="element in datiFooter">
            <h3>{{element.titolo}}</h3>
            <div v-for="link in element.links">
              <i class="fas fa-chevron-right"></i>
              <a :href="link.link">{{link.nome}}</a>
            </div>
          </div>

        </div>
      </section>

      <!-- Credits -->
      <section id="noAllaPirateria">
        <div class="container flex">
          <p>Enjoy the low price. We are tracking any intention of piracy.</p>
          <p>&#169; 2020 NEXGEN is Proudly Powered by <a href="index.html"><span class="elfgreen">Codings</span></a>.</p>
        </div>
      </section>
    </footer>





  </div>
  <script src="js/script.js"></script>
</body>

</html>
